# Jetbrains
.idea

# npm
node_modules
/.npmrc

# Compiled TypeScript
src/**/*.js

# Build output
dist

# Temporary and Test data
tmp/
test-output/
stats.json
community-plugins.json
plugins.json
plugins/

