@import url(modern-normalize.css);

:root {
    --color1: rgba(255, 255, 255, 0.87);
    --color2: #242424;
    --color3: #1E1E1E;
    --color4: rgb(139, 108, 239, .7);
    --color5: rgb(139, 108, 239, .9);
    --color-error: red;
    
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color3);
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}
