@import url(modern-normalize.css);

:root {
    /* Base colors (hue, saturation)*/
    --base-1: 220, 50%;
    --base-2: 110, 80%;
    --base-3: 154, 70%;

    /* Color 1 palette (hue, saturation, lightness) */
    --color-1-0: var(--base-1), 0%;
    --color-1-10: var(--base-1), 10%;
    --color-1-20: var(--base-1), 20%;
    --color-1-30: var(--base-1), 30%;
    --color-1-40: var(--base-1), 40%;
    --color-1-50: var(--base-1), 50%;
    --color-1-60: var(--base-1), 60%;
    --color-1-70: var(--base-1), 70%;
    --color-1-80: var(--base-1), 80%;
    --color-1-90: var(--base-1), 90%;
    --color-1-100: var(--base-1), 100%;
    
    /* Color 2 palette (hue, saturation, lightness) */
    --color-2-0: var(--base-2), 0%;
    --color-2-10: var(--base-2), 10%;
    --color-2-20: var(--base-2), 20%;
    --color-2-30: var(--base-2), 30%;
    --color-2-40: var(--base-2), 40%;
    --color-2-50: var(--base-2), 50%;
    --color-2-60: var(--base-2), 60%;
    --color-2-70: var(--base-2), 70%;
    --color-2-80: var(--base-2), 80%;
    --color-2-90: var(--base-2), 90%;
    --color-2-100: var(--base-2), 100%;
    
    /* Color 3 palette (hue, saturation, lightness) */
    --color-3-0: var(--base-3), 0%;
    --color-3-10: var(--base-3), 10%;
    --color-3-20: var(--base-3), 20%;
    --color-3-30: var(--base-3), 30%;
    --color-3-40: var(--base-3), 40%;
    --color-3-50: var(--base-3), 50%;
    --color-3-60: var(--base-3), 60%;
    --color-3-70: var(--base-3), 70%;
    --color-3-80: var(--base-3), 80%;
    --color-3-90: var(--base-3), 90%;
    --color-3-100: var(--base-3), 100%;

    /* Background colors */
    --color-background-muted: hsla(var(--color-1-40), 1);
    --color-background: hsla(var(--color-1-50), 1);
    --color-background-highlight: hsla(var(--color-1-60), 1);

    /* Line colors */
    --color-line-muted: hsla(var(--color-3-50), .2);
    --color-line: hsla(var(--color-3-50), 1);
    --color-line-highlight: hsla(var(--color-2-50), 1);

    /* Text sizes */
    --text-size-px-small: 20;
    --text-size-px: 26;
    --text-size-px-big: 32;
    --text-size-small: calc(var(--text-size-px-small) / 16 * 1rem);
    --text-size: calc(var(--text-size-px) / 16 * 1rem);
    --text-size-big: calc(var(--text-size-px-big) / 16 * 1rem);
    
    /* Text colors */
    --color-text-muted: hsla(var(--color-3-50), .7);
    --color-text: hsla(var(--color-3-50), 9);
    --color-text-highlight: hsla(var(--color-2-50), 1);
    
    --color-error: red;
    
    --radius: .2em;
    
    /* Charts */
    --chart-line-width: 1;
    --chart-font-size: var(--text-size-px-small);
    --chart-font-color: var(--color-text-muted);
    --chart-font-color-highlight: var(--color-text-highlight);
    --chart-line-color: var(--color-line);
    --chart-line-color-highlight: var(--color-line-highlight);
    --chart-fill-color: var(--color-background);
    --chart-fill-color-highlight: var(--color-background-highlight);
    --chart-grid-color: var(--color-line-muted);
    
    /* Logo */
    --logo-line-color: var(--color-line);
    --logo-fill-color: var(--color-background);
    
    
    font-size: var(--text-size);
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}
