html, body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-content: center;
}

.chart-container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#chart {
    margin: 5%;
}